<a href="https://colab.research.google.com/github/vjbarayuga/Pandas-Slicing/blob/main/Pandas_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
heroes = "Hello World to the new heroes"

In [ ]:
x = 10

In [ ]:
print (heroes)

Hello World to the new heroes

In [ ]:
print (x)

10

In [ ]:
heroes = ['batman', 'superman', 'spiderman']

In [ ]:
print(heroes)

['batman', 'superman', 'spiderman']

In [ ]:
print(heroes.index('spiderman'))

2

In [ ]:
print(heroes[0])

batman

In [ ]:
heroes.append('wonderwoman')

In [ ]:
print(heroes)

['batman', 'superman', 'spiderman', 'wonderwoman']

In [ ]:
heroes.remove('batman')

In [ ]:
print(heroes)

['superman', 'spiderman', 'wonderwoman']

In [ ]:
heroes = ['batman', 'superman', 'spiderman', 'wonderwoman']

In [ ]:
heroes.reverse()

In [ ]:
print(heroes)

['batman', 'spiderman', 'superman', 'wonderwoman']

In [ ]:
heroes = ['batman', 'superman', 'spiderman', 'wonderwoman', 'captain america', 'ironman']

In [ ]:
for hero in heroes:
  print("my hero is {}".format(hero))

my hero is batman
my hero is superman
my hero is spiderman
my hero is wonderwoman
my hero is captain america
my hero is ironman

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
total = 0
for number in numbers:
  total = total + number
  print(total)

1
3
6
10
15
21

In [ ]:
age = input("Type you age:")
age = int(age)
if age >= 100:
  print("That is not a valid age")
elif age >= 18:
  print("You are old enough to drive a vehicle")
elif age <= 0:
  print("That age is not a valid age")
else:
  print("You are not old enough to drive a vehicle")

Type you age:15
You are not old enough to drive a vehicle

In [ ]:
thisdict = {
    "brand" : "Toyota",
    "model" : "Innova",
    "yearmodel" : 2015
}

In [ ]:
print(thisdict)

{'brand': 'Toyota', 'model': 'Innova', 'yearmodel': 2015}

In [ ]:
print(thisdict['brand'])

Toyota

In [ ]:
print(thisdict['model'])

Innova

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 1 Display the head of the dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Keep in mind that the filename will likely be different on your computer (especially later in course)
filename='/content/drive/MyDrive/BSIS DEMO Class Datasets/bostonHousing1978.csv'
df = pd.read_csv(filename)
df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

In [ ]:
# Select one column using double brackets
df[['LSTAT']].head()

   LSTAT
0   4.98
1   9.14
2   4.03
3   2.94
4   5.33

In [ ]:
# 1 Display the head of the dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Keep in mind that the filename will likely be different on your computer (especially later in course)
filename='/content/drive/MyDrive/BSIS DEMO Class Datasets/mortgages.csv'
df = pd.read_csv(filename)
df

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03
...,...,...,...,...,...,...,...,...
1075,176,15619.91,3163.17,65.08,3098.09,12521.82,15 Year,0.05
1076,177,12521.82,3163.17,52.17,3111.00,9410.82,15 Year,0.05
1077,178,9410.82,3163.17,39.21,3123.96,6286.86,15 Year,0.05
1078,179,6286.86,3163.17,26.19,3136.98,3149.88,15 Year,0.05
1079,180,3149.88,3163.17,13.12,3150.05,-0.17,15 Year,0.05

In [ ]:
df['Mortgage Name'].value_counts()

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [ ]:
# Notice that the filter produces a pandas series of True and False values
mortgage_filter = df['Mortgage Name']=='30 Year'
mortgage_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Mortgage Name, dtype: bool

In [ ]:
# Approach 1 using square brackets
# Filter dataframe to get a DataFrame of only '30 Year'
df[mortgage_filter].head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [ ]:
# Approach 1 using square brackets
# Filter dataframe to get a DataFrame of only '30 Year'
df[mortgage_filter].tail()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
715,356,10596.54,2147.29,44.15,2103.14,8493.40,30 Year,0.05
716,357,8493.40,2147.29,35.38,2111.91,6381.49,30 Year,0.05
717,358,6381.49,2147.29,26.58,2120.71,4260.78,30 Year,0.05
718,359,4260.78,2147.29,17.75,2129.54,2131.24,30 Year,0.05
719,360,2131.24,2147.29,8.88,2138.41,-7.17,30 Year,0.05

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 1 Display the head of the dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Keep in mind that the filename will likely be different on your computer (especially later in course)
filename='/content/drive/MyDrive/BSIS DEMO Class Datasets/bostonHousing1978.csv'
df = pd.read_csv(filename)
df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]